@model IEnumerable<LO.CD.Web.Models.Deals.DealsListViewModel>

@{
	ViewData["Title"] = "Index";
}

<div class="container view">
	<h1>Deals List</h1>

	<p>
		<a asp-action="Create">Create New Deal</a>
	</p>
	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<th>
					@Html.DisplayNameFor(model => model.DealDate)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.PaymentMethod)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Discount)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Total)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Customer)
				</th>

				<th>
					@Html.DisplayNameFor(model => model.Car)
				</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.DealDate.Value.Year)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.PaymentMethod)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Discount)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Total)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Customer.FirstName)
				</td>

				<td>
					@Html.DisplayFor(modelItem => item.Car.Make)
				</td>
				<td>
					<a class="text-decoration-none px-3 text-dark" asp-action="Edit" asp-route-id="@item.Id">
						<i class="fa-solid fa-square-pen" data-bs-toggle="tooltip" data-bs-title="Edit" ></i>
					</a>
					<a class="text-decoration-none px-3" asp-action="Details" asp-route-id="@item.Id">
						<i class="fa-solid fa-info" data-bs-toggle="tooltip" data-bs-title="Details" ></i>
					</a>
					<a class="text-decoration-none px-3 text-danger pointer" data-bs-toggle="modal" data-bs-target="#exampleModal_@item.Id">
						<i class="fa-solid fa-trash" data-bs-toggle="tooltip" data-bs-title="Delete" ></i>
					</a>
					<!-- Modal -->
					<div class="modal fade" id="exampleModal_@item.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="exampleModalLabel">Delete</h5>
									<button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">
									<h6>Are you sure you want to delete this Deal</h6>
									<p>Date: (<span class="text-danger">@item.DealDate</span>)</p>
									<p>Which was sold to: <span class="text-danger">@item.Customer.FirstName</span></p>
									<p>Car: <span class="text-danger">@item.Car.CarFullName</span></p>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancle</button>
									<form asp-action="Delete">
										<input type="text" value="@item.Id" name="id" />
										<input type="submit" value="Delete" class="btn btn-danger" />

									</form>
								</div>
							</div>
						</div>
					</div>
				</td>
			</tr>
			}
		</tbody>
	</table>
	Results: @Model.Count()
</div>